<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
{% extends "Shared/Base.html" %}

{% block title %}DFClassify - Login Page{% endblock %}

{% block content %}
{% include "Unsigned/Navbar.html" %}
{% include "Shared/Alert.html" %}
        <br>
        <br>
        <div class="container1" id="login">
            <div id="title">Log into your existing <br>user account from here</div>
            <br>
            <br>
            <form method="post">
                {{ form.hidden_tag() }}
                <table>
                    <tr>
                        <td><b>&nbsp;&nbsp;{{ form.email.label }}</b></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.email() }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><b>&nbsp;&nbsp;{{ form.password.label }}</b></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.password() }}</td>
                    </tr>
                </table>
                <br>
                <br>
                <div id="button">{{ form.submit() }}</div>
            </form>
        </div>
{% endblock %}