        <div class="navbar" id="navbar">
            <div id="navlogo">DFCLASSIFY</div>
            <ul id="navlinks">
                <li><a href="/" class="navanchor">Home</a></li>
                <li><a href="/login" class="navanchor">Login</a></li>
                <li><a href="/register" class="navanchor">Register</a></li>
            </ul>
            <a href="javascript:void(0);" class="toggle" id="bars" onclick="dropdown()">
                <i class="fa-solid fa-bars"></i>
            </a>
            <a href="javascript:void(0);" class="toggle" id="xmark" onclick="dropdown()">
                <i class="fa-solid fa-xmark"></i>
            </a>
        </div>