.error {
    background-color: rgb(255, 174, 201);
}


.success {
    background-color: rgb(126, 213, 165);
}


.error, .success {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 37px;
}


.error ul, .success ul {
    list-style: none;
}