* {
    font-family: Consolas;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(211, 211, 255);
    width: 100vw;
    height: 100%;
    background-image: url("../App_Background.jpg");
    background-position-x: 0px;
    background-position-y: -100px;
    background-size: 1528px 860px;
    background-repeat: no-repeat;
}